{{! about section starts }}
<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Elevating Spaces, Inspiring Lives.</p>
      <div class="row">
        <div class="col-md-6 col-12 hero text">
          <figure>
            <img
              src="https://img.freepik.com/free-vector/interior-design-concept-illustration_114360-5516.jpg?w=900&t=st=1692950243~exp=1692950843~hmac=f080acd78d7f7d1d6c1bed3065afc5bc61a78e8dab239162c9a03cbc048d2d54"
              height="350px" width="400px" class="srcimg" />
          </figure>
        </div>
        <div class="col-md-6 col-15 hero text d-flex justify-content-center align-items-start flex-column">
          <p style="line-height:22px; font-size:22px; text-align:justify; font-weight:lighter">Welcome to Kutumb, your
            trusted partner in transforming spaces into
            captivating havens. Nestled in the vibrant city of Jalandhar,
            Punjab, we are a leading interior designing services firm dedicated
            to creating enchanting environments that harmoniously blend
            aesthetics and functionality. With a passion for design excellence,
            our team of talented professionals brings a unique blend of
            creativity and expertise to every project we undertake. Whether it's
            residential, commercial, or hospitality spaces, we take pride in
            crafting designs that reflect the essence of our clients' visions
            while infusing them with innovative concepts. At Kutumb, we believe
            that every space has a story to tell, and we are here to turn those
            stories into captivating realities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{! about section ends }}