<div class="container-fluid mt-5 contact-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact Us</h1>
      <p class="text-center sub-heading">Share Your Vision, Shape Your Space</p>
      <div class="d-flex flex-row justify-content-around">
        <div class="col-md-5 col-12">
          <form action="/contact" method="POST">
            <div class="form-group">
              <label for="exampleInputPassword1">Name</label>
              <input type="text" class="form-control" placeholder="Full Name..." id="exampleInputPassword1"
                name="name" />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter email" id="exampleInputEmail1" name="email"
                aria-describedby="emailHelp" />
              <small id="emailHelp" class="form-text text-muted">We will never
                share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Phone</label>
              <input type="number" class="form-control" placeholder="Contact Number" id="exampleInputPassword1"
                name="phone" />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Message</label>
              <input type="text" class="form-control" placeholder="Message..." id="exampleInputPassword1"
                name="message" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div>
          <figure>
            <br />
            <br />
            <img
              src="https://img.freepik.com/premium-vector/online-support-illustration-flat-design-concept-illustration-websites-landing-pages-mobile-applications-posters-banners_108061-824.jpg?w=740"
              height="400px" width="450px" class="srcimg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>