<div style="background-color:#000100; height:68px; padding-top:20px;">
  <p style="text-align:center; font-size:18px; color:white; font-family:Lato;">Kutumb 2023 - All rights reserved
    <sup style="color:white">&copy;</sup>
  </p>
</div>