<div class="container-fluid navbar-style py-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="" href="#" id=""><img
            src="https://img.freepik.com/free-vector/botanical-capital-letter-k-vector_53876-168114.jpg?w=740&t=st=1692679550~exp=1692680150~hmac=41c06e699d65859bf2a554cbea092a957743f88f9ddfe5ba23551f64ef07ecad"
            height="40px" width="40px" style="border-radius: 2px; vertical-align:-125%" /></a>
        <span
          style="color:rgb(218, 215, 215); text-shadow: 2px 2px #75c2ac; font-weight:bolder; font-variant:small-caps; font-size:40px; font-family: lato">utumb</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#aboutid">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#serviceid">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contactid">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>